{% load note %}

<nav>
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?{% url_replace request 'page' page_obj.previous_page_number %}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <p class="page-link">Previous</p>
      </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link" href="#!">{{ num }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?{%  url_replace request 'page' num %}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?{% url_replace request 'page' page_obj.next_page_number %}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <p class="page-link">Next</p>
      </li>
    {% endif %}
  </ul>
</nav>
